.section {
  margin: 120px 30px 40px;
}

.textSection {
  margin: 20px auto;
  width: 1200px;
}

.tags {
  text-transform: uppercase;
}

.styledButton {
  border-color: #830b30!important;
  background-color: #830b30!important;
}
  .styledButton:hover {
    background-color: #780b2c!important;
  }
  .styledButton:focus {
    box-shadow: none!important;
  }

.imageContainer {
  width: 100%;
  height: 600px;
  position: relative!important;
  margin-bottom: 20px;
}
  .imageContainer .image {
      width: 100%;
      height: 100%;
      position: relative !important;
  }

.blogTitle {
  font-weight: 500;
}

.listBorder {
  list-style-type: none;
  padding: 0;
}
  .listBorder li {
    text-transform: uppercase;
    border-top: 1px solid #830b30;
  }
  .listBorder li:first-child {
    border-top: none
  }