@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Montserrat";
}

h1 {
  font-weight: 500;
}

a {
  color: #333;
  text-decoration: none;
}

/* .content {
  margin: 0 50px;
} */

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
  nav a {
    margin-left: 12px;
  }
  nav .logo {
    margin-right: auto;
  }

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}

.nav-link {
  border-radius: 0px!important;
  color: #830b30!important;
}

.nav-link.active {
  background-color: #d6d6d6!important;
  border-color: none!important;
}

.marginBottomNull {
  margin-bottom: 0;
}

.topSpace {
  margin-top: 10px;
}