.navbar {
  margin: 0px auto;
  padding: 0;
  background-color: #830b30;
  border: none;
  /* background-color: #b0b3b8; */
}

.navColor {
  margin: 10px 10px 0 0;
  color: white!important;
  font-size: 20px;
}

.translateLink {
  border-right: 1px solid white;
  padding: 0px 20px;
  margin: 20px 0;
}
  .translateLink:last-child {
    border: none;
  }
  .translateLink a {
    margin: 0;
    text-transform: uppercase;
    color: white;
  }

.footer {
  padding: 30px 0 0 0;
  color: white;
  background-color: #830b30;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footerIcon {
  margin-right: 10px;
}

.footerLink {
  color: white!important;
}
  .footerLink:hover {
    text-decoration: underline;
  }

.trademark {
  text-align: center;
  padding-bottom: 20px;
}

.btnPortal {
  /* border-radius: 25px;
  background-color: #d6d6d6; */
  background-color: transparent;
  border: none;
  padding: 5px 5px;
  border-radius: 25px;
  
}
  .btnPortal:hover {
    color: #830b30;
    background-color: white;
  }
  .btnPortal:active {
    color: #830b30;
    background-color: white;
  }
  .btnPortal:focus {
    color: #830b30;
    background-color: white;
    box-shadow: none;
  }
  .btnPortal:focus:active {
    box-shadow: none;
  }

.portalGroup {
  /* border-right: 1px solid blue; */
  border-right: 2px solid white;
  padding-right: 20px;
}